---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  image?: ImageMetadata;
  altImage?: string;
  number?: string;
  title: string;
  body: string;
}

const { image, altImage = "", number, title, body } = Astro.props;
---

<div class="card w-96 bg-base-100 shadow-lg h-full">
  {
    image && (
      <figure>
        <Image class="w-2/3" src={image} alt={altImage} loading="eager" />
      </figure>
    )
  }
  <div class="card-body">
    <div class="flex items-center">
      {
        number && (
          <div class="avatar placeholder mr-2">
            <div class="bg-accent text-neutral-content rounded-full w-12">
              <span class="text-3xl">{number}</span>
            </div>
          </div>
        )
      }
    </div>
    <h3 class="card-title text-2xl font-bold mb-1">{title}</h3>
    <p class="text-lg text-gray-800 mb-2">
      {body}
    </p>
    <div class="card-actions justify-center">
      <slot />
    </div>
  </div>
</div>
