---
import { getRelativeLocaleUrlList } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import "../styles/main.css";
import "boxicons/css/boxicons.min.css";
import Analytics from "../components/common/Analytics.astro";
import HeadSeo from "../components/common/HeadSeo.astro";
import HeadAssets from "../components/common/HeadAssets.astro";

const lang = getLangFromUrl(Astro.url);

interface Props {
  language: string;
  title: string;
  description?: string;
}

const { language, title, description } = Astro.props;

const localeUrls = getRelativeLocaleUrlList();
---

<!doctype html>
<html lang={lang}>
  <head>
    <HeadSeo title={title} description={description} />
    <meta charset="UTF-8" />
    <!-- <meta name="description" content="Astro description" /> -->
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <!-- <title>{title}</title> -->
    <meta
      http-equiv="refresh"
      content={"0;url=/" + language == "en" ? "/" : language + "/"}
    />
    <HeadAssets />
    <Analytics id="G-MNQ9N548LW" partytown={true} />
  </head>
  <body data-theme="default" class="bg-neutral">
    <slot />
  </body>
</html>
