---
import NavigationLayout from "./NavigationLayout.astro";
const { frontmatter } = Astro.props;

import VoiceNoteToText from "../../public/images/posts/nota_de_voz_a_texto_whatsapp.png";
---

<NavigationLayout
  title={frontmatter.title}
  description={frontmatter.description}
  language="es"
>
  <article itemscope="" itemtype="http://schema.org/Article" class="w-full">
    <meta
      itemprop="datePublished"
      content={frontmatter.pubDate + " 09:37:39 -0700 -0700"}
    />
    <meta
      itemprop="dateModified"
      content={frontmatter.pubDate + " 09:37:39 -0700 -0700"}
    />
    <meta itemprop="image" content="img/featured.png" />
    <meta itemprop="publisher" content="vntotxt.com" />

    <header>
      <div
        itemprop="image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <figure class="bg-secondary">
          <img
            src={VoiceNoteToText.src}
            alt="Convierte notas de voz a texto en WhatsApp"
            class="mx-auto"
          />
        </figure>

        <meta itemprop="thumbnailUrl" content="" />
        <meta itemprop="description" content={frontmatter.description} />
        <meta
          itemprop="uploadDate"
          content={frontmatter.pubDate + " -0700 -0700"}
        />
        <meta itemprop="publisher" content="Vntotxt" />
      </div>
      <div class="bg-secondary px-80 py-16 border-t-2 border-white">
        <h1
          class="text-primary text-justify leading-tight text-5xl font-bold font-ubuntu"
        >
          {frontmatter.title}
        </h1>
      </div>

      <div class="bg-primary py-5 px-80 mb-4 flex justify-between text-white">
        <a
          class="flex items-center no-underline"
          itemprop="author"
          name={frontmatter.author}
          href="/contributors/thian-lopez/"
        >
          <img
            class="w-10 h-10 rounded-full block"
            src="/contributors/img/jeff-delaney.webp"
            alt={frontmatter.author + " avatar"}
          />
          <span class="flex flex-col ml-2">
            <span class="no-underline">{frontmatter.author}</span>
            <span class="text-xs text-gray4"
              >Posted <time itemprop="dateModified">{frontmatter.pubDate}</time>
            </span>
          </span></a
        >

        <span>
          <a href="/tags/svelte"><span class="tag tag-svelte">#svelte</span></a>

          <a href="/tags/react"><span class="tag tag-react">#react</span></a>
        </span>
      </div>
    </header>
    <div class="px-80 pt-10">
      <slot />
    </div>
  </article>
</NavigationLayout>
